* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
}

.banner-section {
  padding-bottom: 50px;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-color: #b22234;
  background-position: center;
  background-size: cover;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.gap-3 {
  gap: 20px;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.text-center {
  text-align: center;
  font-size: 20px;
  text-decoration: none;
}

.justify-center {
  justify-content: center;
}

.w50 {
  width: 30%;
}

.banner-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.2
  ); /* Adjust the alpha value (0.75) to make it darker or lighter */
  z-index: 1;
}

.banner-section > * {
  position: relative;
  z-index: 2;
}

.banner_intro {
  font-size: 3rem;
  font-weight: bold;
  color: white;
}

.banner-section img {
  border-width: 5px;
  border-color: black !important;
  border-radius: 10px;
  border: solid;
}

.contact-us-text {
  background-color: black;
  color: white;
  font-size: 40px;
  padding: 20px 40px;
  border-radius: 20px;
  cursor: pointer;
}

.contact-section {
  width: 100%;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.intro-text {
  color: white;
  font-size: 32px;
  font-weight: 600;
  margin-top: 40px;
}

.icons {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 100px;
  margin-bottom: 40px;
}

.icon-border img {
  border-radius: 50%;
  border-width: 1px;
  border: solid;
  border-color: black;
  padding: 2px;
}

img {
  object-fit: contain;
}

.history {
  margin-top: 40px;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-bottom: 40px;
}

.demp {
  background-image: url("./../images/website11_1.png");
}

.history-text {
  width: 40%;
  color: white;
  font-weight: 600;
}

.history-text_2 {
  font-size: 30px;
  width: 40%;
  color: white;
  font: bold;
}

.footer {
  width: 100%;
}

#collection {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 80px;
}

.img_change {
  filter: brightness(100%);
  animation: shinyEffect 1s infinite alternate ease-in-out;
}

@keyframes shinyEffect {
  from {
    filter: brightness(1) contrast(1);
  }
  to {
    filter: brightness(1.2) contrast(1.5);
  }
}
